/* PALETA DE CORES */
/* F05D5E 
    0F7173
    E7ECEF
    272932
*/

/* CBDFBD 
    F19C79
    F6F4D2
    A44A3F
*/

.doc {
    display: grid;
}

.about {
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;

}

.init {
    position: relative;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;

}

.page {
    flex: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    animation: slideIn 1s;

}

.animat {
    animation: slideIn 1s;
}

@keyframes slideIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(100%);
    }
}

.hidden {
    display: none;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
    text-align: center;
}

/* CSS */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0 auto;
    /* Adicione esta linha para centralizar horizontalmente */
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.game1 .row {
    display: flex;
}

.game1 .column {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}


/* F05D5E 
    0F7173
    E7ECEF
    272932
*/

/* CBDFBD 
    F19C79
    F6F4D2
    A44A3F
*/
.game1 .Whitecase {
    background-color: #CBDFBD;
}

.game1 .blackCase {
    background-color: #F19C79;
}

.game1 .occupied {
    border-radius: 50%;
}

/* Adicione estilos para as peças */
.game1 .whitePiece {
    width: 40px;
    height: 40px;
    background-color: #F6F4D2;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game1 .blackPiece {
    width: 40px;
    height: 40px;
    background-color: #A44A3F;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game1 .blackQueenPiece {
    width: 40px;
    height: 40px;
    background-color: #A44A3F;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/source/image/queenGame1b.png');
    background-size: 30px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.game1 .whiteQueenPiece {
    width: 40px;
    height: 40px;
    background-color: #F6F4D2;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/source/image/queenGame1w.png');
    background-size: 30px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.game1 .empty {
    background-color: transparent;
}

.game1 .selectedPiece {
    border: 2px solid yellow;
    box-sizing: border-box;
}

.game1 .possibleMove {
    background-color: #D4E09B;
}

.game2 .row {
    display: flex;
}

.game2 .column {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.game2 .Whitecase {
    background-color: #F05D5E;
}

.game2 .blackCase {
    background-color: #0F7173;
}

.game2 .occupied {
    border-radius: 50%;
}

/* Adicione estilos para as peças */
.game2 .whitePiece {
    width: 40px;
    height: 40px;
    background-color: #E7ECEF;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game2 .blackPiece {
    width: 40px;
    height: 40px;
    background-color: #272932;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game2 .whiteQueenPiece {
    width: 40px;
    height: 40px;
    background-color: #E7ECEF;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/source/image/queenGame2w.png');
    background-size: 30px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.game2 .blackQueenPiece {
    width: 40px;
    height: 40px;
    background-color: #272932;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/source/image/queenGame2b.png');
    background-size: 30px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.game2 .empty {
    background-color: transparent;
}

.game2 .selectedPiece {
    border: 2px solid yellow;
    box-sizing: border-box;
}

.game2 .possibleMove {
    background-color: #D4E09B;
}



.initgame {
    animation: slideUp 1s;
}

@keyframes slideUp {
    from {
        transform: translateY(115px) scale(1.4);
    }

    to {
        transform: translateY(-15px) scale(1);
    }
}

@keyframes slideOn {
    from {
        transform: translateY(-100px) scale(0.6);
    }

    to {
        transform: translateY(-15px) scale(1);
    }
}

.headerPre {
    transform: translateY(-15px);
    animation: slideOn 1s forwards;

}

.headerPos {
    animation: slideUp 1s forwards;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

header img {

    width: 100%;
    height: auto;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;

}

footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    padding: 20px 0;
    background-color: white;
    border-top: 1px solid;

}

footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul li a {
    color: black;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li a:hover {
    border-bottom: 3px solid #F05D5E;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.reset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}