.doc {
    display: grid;
}

.init {
    position: relative;
    margin: 0 auto;
    clear: left;
    height: auto;
    z-index: 0;
    text-align: center;
    /* Add This*/

}

.page {
    flex: auto;
    display: flex;
    justify-content: center;
    margin: 150px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;


}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin: 25px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 10px;
}

/* CSS */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0 auto;
    /* Adicione esta linha para centralizar horizontalmente */
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.game .row {
    display: flex;
}

.game .column {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.game .Whitecase {
    background-color: #CBDFBD;
}

.game .blackCase {
    background-color: #F19C79;
}

.game .occupied {
    border-radius: 50%;
}

/* Adicione estilos para as peças */
.game .whitePiece {
    width: 40px;
    height: 40px;
    background-color: #F6F4D2;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .blackPiece {
    width: 40px;
    height: 40px;
    background-color: #A44A3F;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game .empty {
    background-color: transparent;
}

/* Adicione este estilo para destacar a peça selecionada */
.game .selectedPiece {
    border: 2px solid yellow;
    box-sizing: border-box;
}

.game .possibleMove {
    background-color: #D4E09B;
}